:root{
    --darkblue: #08000c;
    --pink: #bd2e7a;
    --white: #fff;
    --gainsboro: #dcdcdc;
    --blue: #b91afd99;
    --black: #000;
    --papaya: #ffefd5;
    --palegold: #eee8aa;
    --theme-color:#f0eeea;
    // --blue: #1aaefd99;
}