@import '../../../styles/colors';

.dayview-container {
    display: flex;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dayview-left {
    padding-right: 6px;
    border-right: solid 1px var(--gainsboro);
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 0px;
}

.time-container {
    height: 51px;
}

.time-value {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: -8px;
    color: #666;
}

.dayview-right {
    flex-grow: 1;
    border-right: 1px solid var(--gainsboro);
}

.time-grid {
    content: "";
    height: 51px;
    border-top: 1px solid var(--gainsboro);
    border-bottom: 1px solid var(--gainsboro);
    border-collapse: collapse;
    width: 100%;
}

@media screen and (max-width:476px) {
    // .dayview-container{
    //     margin-left: 25px;
    //     margin-right: 25px;
    //     margin-bottom: 50px;
    // }
}
