@import '../../../styles/colors';

.month{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.monthview-container{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gainsboro);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: calc(100vh - 174px);
    padding: 8px;

}

.monthview-top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
}

.monthview-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}

.edc{
    border: 1px solid var(--gainsboro);
    padding: 10px;
    display: none;
}

@media screen and (max-width:576px) {

    .monthview-container{
        height: auto;
    }
    .monthview-bottom{
        grid-template-rows: 50px 50px 50px 50px 50px 50px;
        height: auto;
    }
    .edc{
        display: block;
    }
}
